{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>g0v Hackathon in NYC 2016</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
  </head>
  <body>
  	<!-- g0v Picture -->
    <img src="{% static "img/g0v-horizontal-black-l.png" %}" alt="2016 g0v@NYC" class="img-responsive"><br>
  	<div class="container">
		<!-- slogan for 2016 g0v Hackathon in NYC -->
		<div class="lead text-center">
			<p>「<b>紐</b>」轉台灣g0v黑客松</p>
			<p>g0v Hackathon @<b>NYC</b></p>
	    	<p>創新、交流、開放</p>
	    	<p>Open gov X Open Data X Open Democracy</p>
		</div>	
	</div>
	<hr>
	<!-- Tabs -->
	<div class="container">
	<!-- <h2>Dynamic Tabs</h2> -->
	<ul class="nav nav-tabs">
	<li class="active"><a data-toggle="tab" href="#home">We Do</a></li>
	<li><a data-toggle="tab" href="#menu1">We Are Nobody</a></li>
	<li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
	<li><a data-toggle="tab" href="#menu3">Menu 3</a></li>
	</ul>

	<div class="tab-content lead">
		<div id="home" class="tab-pane fade in active">
			<h3>We Do Hackathon @NYC</h3>
			<p>Date: Nov/5~6</p>
			<p>Place: Time Square wework</p>
			<div id="regist" ><a href="http://g0v.tw/en-US/"  target="_blank">Register</a></div>
		</div>
		<div id="menu1" class="tab-pane fade">
			<h3>Nobody Do Anything</h3>
		  	<h4># 公關組</h4>
		  	<div class="row">
				<div class="col-sm-2 ">
                    <img src="{% static "img/bulldog.jpeg" %}" alt="member" class="img-responsive img-circle"  >
					<p class="lead text-center">I am XXX</p><br>
				</div>
				<div class="col-sm-2 ">
                    <img src="{% static "img/bulldog.jpeg" %}" alt="member" class="img-responsive img-circle"  >
					<p class="lead text-center">I am XXX</p><br>
				</div>
				<div class="col-sm-2 ">
                    <img src="{% static "img/bulldog.jpeg" %}" alt="member" class="img-responsive img-circle"  >
					<p class="lead text-center">I am XXX</p><br>
				</div>
				<div class="col-sm-2 ">
                    <img src="{% static "img/bulldog.jpeg" %}" alt="member" class="img-responsive img-circle"  >
					<p class="lead text-center">I am XXX</p><br>
				</div>
				<div class="col-sm-2 ">
                    <img src="{% static "img/bulldog.jpeg" %}" alt="member" class="img-responsive img-circle"  >
					<p class="lead text-center">I am XXX</p><br>
				</div>
				<div class="col-sm-2 ">
                    <img src="{% static "img/bulldog.jpeg" %}" alt="member" class="img-responsive img-circle"  >
					<p class="lead text-center">I am XXX</p><br>
				</div>
			</div>
		  	<h4># 報名聯絡組</h4>
		  	<div class="row">
				<div class="col-sm-2 ">
                    <img src="{% static "img/bulldog.jpeg" %}" alt="member" class="img-responsive img-circle"  >
					<p class="lead text-center">I am XXX</p><br>
				</div>
				<div class="col-sm-2 ">
                    <img src="{% static "img/bulldog.jpeg" %}" alt="member" class="img-responsive img-circle"  >
					<p class="lead text-center">I am XXX</p><br>
				</div>
				<div class="col-sm-2 ">
					<img src="{% static "img/bulldog.jpeg" %}" alt="member" class="img-responsive img-circle"  >
					<p class="lead text-center">I am XXX</p><br>
				</div>
				<div class="col-sm-2 ">
					<img src="{% static "img/bulldog.jpeg" %}" alt="member" class="img-responsive img-circle"  >
					<p class="lead text-center">I am XXX</p><br>
				</div>
				<div class="col-sm-2 ">
					<img src="{% static "img/bulldog.jpeg" %}" alt="member" class="img-responsive img-circle"  >
					<p class="lead text-center">I am XXX</p><br>
				</div>
				<div class="col-sm-2 ">
					<img src="{% static "img/bulldog.jpeg" %}" alt="member" class="img-responsive img-circle"  >
					<p class="lead text-center">I am XXX</p><br>
				</div>
			</div>
		  	<h4># 文案組</h4>
		  	<div class="row">
				<div class="col-sm-2 ">
					<img src="{% static "img/bulldog.jpeg" %}" alt="member" class="img-responsive img-circle"  >
					<p class="lead text-center">I am XXX</p><br>
				</div>
				<div class="col-sm-2 ">
					<img src="{% static "img/bulldog.jpeg" %}" alt="member" class="img-responsive img-circle"  >
					<p class="lead text-center">I am XXX</p><br>
				</div>
				<div class="col-sm-2 ">
					<img src="{% static "img/bulldog.jpeg" %}" alt="member" class="img-responsive img-circle"  >
					<p class="lead text-center">I am XXX</p><br>
				</div>
							<div class="col-sm-2 ">
					<img src="{% static "img/bulldog.jpeg" %}" alt="member" class="img-responsive img-circle"  >
					<p class="lead text-center">I am XXX</p><br>
				</div>
							<div class="col-sm-2 ">
					<img src="{% static "img/bulldog.jpeg" %}" alt="member" class="img-responsive img-circle"  >
					<p class="lead text-center">I am XXX</p><br>
				</div>
							<div class="col-sm-2 ">
					<img src="{% static "img/bulldog.jpeg" %}" alt="member" class="img-responsive img-circle"  >
					<p class="lead text-center">I am XXX</p><br>
				</div>
			</div>	
		  	<h4># 文宣設計組</h4>
		  	<div class="row">
				<div class="col-sm-2 ">
					<img src="{% static "img/bulldog.jpeg" %}" alt="member" class="img-responsive img-circle"  >
					<p class="lead text-center">I am XXX</p><br>
				</div>
				<div class="col-sm-2 ">
					<img src="{% static "img/bulldog.jpeg" %}" alt="member" class="img-responsive img-circle"  >
					<p class="lead text-center">I am XXX</p><br>
				</div>
				<div class="col-sm-2 ">
					<img src="{% static "img/bulldog.jpeg" %}" alt="member" class="img-responsive img-circle"  >
					<p class="lead text-center">I am XXX</p><br>
				</div>
							<div class="col-sm-2 ">
					<img src="{% static "img/bulldog.jpeg" %}" alt="member" class="img-responsive img-circle"  >
					<p class="lead text-center">I am XXX</p><br>
				</div>
							<div class="col-sm-2 ">
					<img src="{% static "img/bulldog.jpeg" %}" alt="member" class="img-responsive img-circle"  >
					<p class="lead text-center">I am XXX</p><br>
				</div>
							<div class="col-sm-2 ">
					<img src="{% static "img/bulldog.jpeg" %}" alt="member" class="img-responsive img-circle"  >
					<p class="lead text-center">I am XXX</p><br>
				</div>
			</div>		
		  	<h4># 募資組</h4>
		  	<div class="row">
				<div class="col-sm-2 ">
					<img src="{% static "img/bulldog.jpeg" %}" alt="member" class="img-responsive img-circle"  >
					<p class="lead text-center">I am XXX</p><br>
				</div>
				<div class="col-sm-2 ">
					<img src="{% static "img/bulldog.jpeg" %}" alt="member" class="img-responsive img-circle"  >
					<p class="lead text-center">I am XXX</p><br>
				</div>
				<div class="col-sm-2 ">
					<img src="{% static "img/bulldog.jpeg" %}" alt="member" class="img-responsive img-circle"  >
					<p class="lead text-center">I am XXX</p><br>
				</div>
							<div class="col-sm-2 ">
					<img src="{% static "img/bulldog.jpeg" %}" alt="member" class="img-responsive img-circle"  >
					<p class="lead text-center">I am XXX</p><br>
				</div>
							<div class="col-sm-2 ">
					<img src="{% static "img/bulldog.jpeg" %}" alt="member" class="img-responsive img-circle"  >
					<p class="lead text-center">I am XXX</p><br>
				</div>
							<div class="col-sm-2 ">
					<img src="{% static "img/bulldog.jpeg" %}" alt="member" class="img-responsive img-circle"  >
					<p class="lead text-center">I am XXX</p><br>
				</div>
			</div>	
		  	<h4># design-web</h4>
		  	<div class="row">
				<div class="col-sm-2 ">
					<img src="{% static "img/bulldog.jpeg" %}" alt="member" class="img-responsive img-circle"  >
					<p class="lead text-center">I am XXX</p><br>
				</div>
				<div class="col-sm-2 ">
					<img src="{% static "img/bulldog.jpeg" %}" alt="member" class="img-responsive img-circle"  >
					<p class="lead text-center">I am XXX</p><br>
				</div>
				<div class="col-sm-2 ">
					<img src="{% static "img/bulldog.jpeg" %}" alt="member" class="img-responsive img-circle"  >
					<p class="lead text-center">I am XXX</p><br>
				</div>
							<div class="col-sm-2 ">
					<img src="{% static "img/bulldog.jpeg" %}" alt="member" class="img-responsive img-circle"  >
					<p class="lead text-center">I am XXX</p><br>
				</div>
							<div class="col-sm-2 ">
					<img src="{% static "img/bulldog.jpeg" %}" alt="member" class="img-responsive img-circle"  >
					<p class="lead text-center">I am XXX</p><br>
				</div>
							<div class="col-sm-2 ">
					<img src="{% static "img/bulldog.jpeg" %}" alt="member" class="img-responsive img-circle"  >
					<p class="lead text-center">I am XXX</p><br>
				</div>
			</div>
		</div>
		<div id="menu2" class="tab-pane fade">
		  <h3>Menu 2</h3>
		  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
		</div>
		<div id="menu3" class="tab-pane fade">
		  <h3>Menu 3</h3>
		  <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
		</div>
		</div>
	</div>

	

	<!-- sponsor -->
	<div class="container-fluid text-center sponsor">
		<h1>Sponsors</h1>
		<div class="row">
            <div class="col-sm-2"><img src="{% static "img/sponsor/g0v.png" %}" alt="sponsor" class="img-responsive"><br></div>
            <div class="col-sm-2"><img src="{% static "img/sponsor/g0v.png" %}" alt="sponsor" class="img-responsive"><br></div>
            <div class="col-sm-2"><img src="{% static "img/sponsor/g0v.png" %}" alt="sponsor" class="img-responsive"><br></div>
            <div class="col-sm-2"><img src="{% static "img/sponsor/g0v.png" %}" alt="sponsor" class="img-responsive"><br></div>
            <div class="col-sm-2"><img src="{% static "img/sponsor/g0v.png" %}" alt="sponsor" class="img-responsive"><br></div>
            <div class="col-sm-2"><img src="{% static "img/sponsor/g0v.png" %}" alt="sponsor" class="img-responsive"><br></div>
		</div>		
	</div>	
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </body>
</html>
